In [6]:
import numpy as np
import pandas as pd

In [7]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 250)

In [8]:
data24 = pd.read_csv("raw_datasets/2024-2025_data - Sheet1.csv", header=1)
data24 = data24.dropna(how="all", axis=0)
data24 = data24.dropna(how="all", axis=1)

In [9]:
print(data24.head())

   RANK                     NAME TEAM  CUR  POS   AGE  GP   MpG  USG%   TO%  FTA    FT%   2PA    2P%  3PA    3P%   eFG%    TS%   PpG   RpG   ApG  SpG  BpG  TOpG   P+R   P+A  P+R+A    VI   ORtg   DRtg
0     1  Shai Gilgeous-Alexander  Okc    *    G  26.8  76  34.2  34.8   9.9  669  0.898  1221  0.571  435  0.375  0.569  0.637  32.7   5.0   6.4  1.7  1.0   2.4  37.7  39.1   44.1  11.9  128.8  106.0
1     2    Giannis Antetokounmpo  Mil    *    F  30.4  67  34.2  35.2  13.5  707  0.617  1256  0.620   63  0.222  0.607  0.625  30.4  11.9   6.5  0.9  1.2   3.1  42.3  36.9   48.8  15.6  122.5  105.3
2     3             Nikola Jokic  Den    *    C  30.1  70  36.7  29.5  14.4  451  0.800  1033  0.627  330  0.418  0.627  0.663  29.6  12.7  10.2  1.8  0.6   3.3  42.3  39.8   52.6  17.1  132.9  108.0
3     4              Luka Doncic  Lal    *  F-G  26.1  28  35.1  34.5  15.7  249  0.791   290  0.493  269  0.379  0.530  0.590  28.2   8.1   7.5  1.6  0.4   3.7  36.3  35.7   43.8  13.6  115.8  107.5
4     5              Luka Doncic  Dal  NaN  F-G  26.1  22  35.7  33.2  13.9  146  0.767   254  0.555  212  0.354  0.544  0.584  28.1   8.3   7.8  2.0  0.4   3.4  36.5  36.0   44.3  13.7  115.3  108.1

In [10]:
keep = ["NAME","TEAM","POS","AGE","GP","MpG","PpG","RpG","ApG","SpG","BpG","TOpG"]
data24 = data24[keep]

In [11]:
data24["FPpG"] = (data24["PpG"]*1+data24["RpG"]*1.2+data24["ApG"]*1.5+data24["SpG"]*3+data24["BpG"]*3-data24["TOpG"])

In [12]:
data24 = data24.sort_values("FPpG", ascending=False)

In [13]:
print(data24.head(20))

                       NAME TEAM  POS   AGE  GP   MpG   PpG   RpG   ApG  SpG  BpG  TOpG   FPpG
2              Nikola Jokic  Den    C  30.1  70  36.7  29.6  12.7  10.2  1.8  0.6   3.3  64.04
1     Giannis Antetokounmpo  Mil    F  30.4  67  34.2  30.4  11.9   6.5  0.9  1.2   3.1  57.63
22        Victor Wembanyama  San  F-C  21.3  46  33.2  24.3  11.0   3.7  1.1  3.8   3.2  54.55
0   Shai Gilgeous-Alexander  Okc    G  26.8  76  34.2  32.7   5.0   6.4  1.7  1.0   2.4  54.00
4               Luka Doncic  Dal  F-G  26.1  22  35.7  28.1   8.3   7.8  2.0  0.4   3.4  53.56
12            Anthony Davis  Lal  F-C  32.1  42  34.3  25.7  11.9   3.4  1.3  2.1   2.2  53.08
3               Luka Doncic  Lal  F-G  26.1  28  35.1  28.2   8.1   7.5  1.6  0.4   3.7  51.47
6              Jayson Tatum  Bos  F-G  27.1  72  36.4  26.8   8.7   6.0  1.1  0.5   2.9  48.14
9           Cade Cunningham  Det    G  23.6  70  35.0  26.1   6.1   9.1  1.0  0.8   4.4  48.07
21             LeBron James  Lal    F  40.3  70  34.9  24.4   7.8   8.2  1.0  0.6   3.7  47.16
20       Karl-Anthony Towns  Nyk  C-F  29.4  72  35.0  24.4  12.8   3.1  1.0  0.7   2.7  46.81
60         Domantas Sabonis  Sac  F-C  28.9  70  34.7  19.1  13.9   6.0  0.7  0.4   2.9  45.18
31             James Harden  Lac    G  35.6  79  35.3  22.8   5.8   8.7  1.5  0.7   4.3  45.11
53            Anthony Davis  Dal  F-C  32.1   9  29.6  20.0  10.1   4.4  0.6  2.2   2.2  44.92
24               Trae Young  Atl    G  26.6  76  36.0  24.2   3.1  11.6  1.2  0.2   4.7  44.82
18          Zion Williamson  Nor    F  24.8  30  28.6  24.6   7.2   5.3  1.2  0.9   3.0  44.49
8              Tyrese Maxey  Phi    G  24.4  52  37.7  26.3   3.3   6.1  1.8  0.4   2.4  43.61
5           Anthony Edwards  Min    G  23.7  79  36.3  27.6   5.7   4.5  1.2  0.6   3.2  43.39
65            Jalen Johnson  Atl    F  23.3  36  35.7  18.9  10.0   5.0  1.6  1.0   2.9  43.30
11           Paolo Banchero  Orl    F  22.4  46  34.4  25.9   7.5   4.8  0.8  0.6   3.0  43.30

In [14]:
data23 = pd.read_csv("raw_datasets/2023-2024_data - Sheet1.csv", header = 0)
data23 = data23.dropna(how="all", axis=0)
data23 = data23.dropna(how="all", axis=1)

In [15]:
data23 = data23[keep]
data23["FPpG"] = (data23["PpG"]*1+data23["RpG"]*1.2+data23["ApG"]*1.5+data23["SpG"]*3+data23["BpG"]*3-data23["TOpG"])
data23 = data23.sort_values("FPpG", ascending=False)

In [16]:
print(data23.head())

                     NAME TEAM POS   AGE  GP   MpG   PpG   RpG  ApG  SpG  BpG  TOpG   FPpG
1             Luka Doncic  Dal   G  25.1  70  37.5  33.9   9.2  9.8  1.4  0.5   4.0  61.34
0             Joel Embiid  Phi   C  30.1  39  33.6  34.7  11.0  5.6  1.2  1.7   3.8  61.20
10           Nikola Jokic  Den   C  29.2  79  34.6  26.4  12.4  9.0  1.4  0.9   3.0  58.68
2   Giannis Antetokounmpo  Mil   F  29.4  73  35.2  30.4  11.5  6.5  1.2  1.1   3.4  57.45
18          Anthony Davis  Lal   C  31.1  76  35.5  24.7  12.6  3.5  1.2  2.3   2.1  53.47

In [17]:
data22 = pd.read_csv("raw_datasets/2022-2023_data - Sheet1.csv", header = 0)
data22 = data22.dropna(how="all", axis=0)
data22 = data22.dropna(how="all", axis=1)

In [18]:
data22 = data22[keep]
data22["FPpG"] = (data22["PpG"]*1+data22["RpG"]*1.2+data22["ApG"]*1.5+data23["SpG"]*3+data22["BpG"]*3-data22["TOpG"])
data22 = data22.sort_values("FPpG", ascending=False)

In [19]:
print(data22.head())

                     NAME TEAM  POS   AGE  GP   MpG   PpG   RpG  ApG  SpG  BpG  TOpG   FPpG
0             Joel Embiid  Phi  C-F  29.1  66  34.6  33.1  10.2  4.2  1.0  1.7   3.4  56.94
1             Luka Doncic  Dal  F-G  24.1  66  36.2  32.4   8.6  8.0  1.4  0.5   3.6  56.82
26           Nikola Jokic  Den    C  28.1  69  33.7  24.5  11.8  9.8  1.3  0.7   3.6  55.16
4   Giannis Antetokounmpo  Mil    F  28.3  63  32.1  31.1  11.8  5.7  0.8  0.8   3.9  55.01
8            LeBron James  Lal    F  38.3  55  35.5  28.9   8.3  6.8  0.9  0.6   3.2  53.06

In [20]:
data21 = pd.read_csv("raw_datasets/2021-2022_data - Sheet1.csv", header = 0)
data21 = data21.dropna(how="all", axis=0)
data21 = data21.dropna(how="all", axis=1)

In [21]:
data21 = data21[keep]
data21["FPpG"] = (data21["PpG"]*1+data21["RpG"]*1.2+data21["ApG"]*1.5+data21["SpG"]*3+data21["BpG"]*3-data21["TOpG"])
data21 = data21.sort_values("FPpG", ascending=False)

In [22]:
print(data21.head())

                      NAME TEAM  POS    AGE  GP   MpG   PpG   RpG  ApG   SpG   BpG  TOpG   FPpG
343           Nikola Jokic  Den    C  27.14  74  33.5  27.1  13.8  7.9  1.47  0.86  3.78  58.72
13   Giannis Antetokounmpo  Mil    F  27.35  67  32.9  29.9  11.6  5.8  1.07  1.36  3.27  56.54
184            Joel Embiid  Phi  C-F  28.07  68  33.8  30.6  11.7  4.2  1.13  1.47  3.15  55.59
323           LeBron James  Lal    F  37.28  56  37.2  30.3   8.2  6.2  1.30  1.05  3.50  52.99
159            Luka Doncic  Dal  F-G  23.12  65  35.4  28.4   9.1  8.7  1.15  0.55  4.49  52.98

In [23]:
data20 = pd.read_csv("raw_datasets/2020-2021_data - Sheet1.csv", header = 0)
data20 = data20.dropna(how="all", axis=0)
data20 = data20.dropna(how="all", axis=1)

In [24]:
data20 = data20[keep]
data20["FPpG"] = (data20["PpG"]*1+data20["RpG"]*1.2+data20["ApG"]*1.5+data20["SpG"]*3+data20["BpG"]*3-data20["TOpG"])
data20 = data20.sort_values("FPpG", ascending=False)

In [25]:
print(data20.head())

                      NAME TEAM  POS    AGE  GP   MpG   PpG   RpG   ApG   SpG   BpG  TOpG   FPpG
303           Nikola Jokic  Den    C  26.24  72  34.6  26.4  10.8   8.3  1.32  0.67  3.08  54.70
14   Giannis Antetokounmpo  Mil    F  26.44  61  33.0  28.1  11.0   5.9  1.18  1.21  3.39  53.93
599      Russell Westbrook  Was    G  32.51  65  36.4  22.2  11.5  11.7  1.35  0.35  4.80  53.85
230           James Harden  Bro    G  31.72  36  36.6  24.6   8.6  10.9  1.28  0.75  3.97  53.39
151            Luka Doncic  Dal  F-G  22.21  66  34.3  27.7   8.0   8.6  0.97  0.55  4.26  50.50

In [26]:
data24["SEASON"] = 2024
data23["SEASON"] = 2023
data22["SEASON"] = 2022
data21["SEASON"] = 2021
data20["SEASON"] = 2020
all_data = pd.concat([data24, data23, data22, data21, data20])

In [27]:
def clean_name(name):
    # Uppercase
    name = name.upper()
    # Remove periods
    name = name.replace(".", "")
    # Collapse multiple spaces
    name = " ".join(name.split())
    return name

for df in [data24, data23, data22, data21, data20]:
    df["NAME"] = df["NAME"].apply(clean_name)

In [28]:
# Collapse to one row per player-season (weighted by GP)
def agg_player_season(df):
    w = df['GP']
    out = {
        'AGE': (df['AGE'] * w).sum() / w.sum(),
        'GP': w.sum(),
        'TEAM': df.iloc[-1]['TEAM'],   # keep last team seen
        'POS': df.iloc[-1]['POS'],     # keep last pos seen
    }
    for c in ['MpG','PpG','RpG','ApG','SpG','BpG','TOpG','FPpG']:
        out[c] = (df[c] * w).sum() / w.sum()
    return pd.Series(out)

all_data = (
    pd.concat([data24, data23, data22, data21, data20])
      .sort_values(['NAME','SEASON','GP'])
      .groupby(['NAME','SEASON'], as_index=False)
      .apply(agg_player_season, include_groups=False)
      .reset_index(drop=True)
)

In [29]:
# FPpG_next
training_data = all_data.sort_values(["NAME", "SEASON"])
training_data["FPpG_next"] = training_data.groupby("NAME")["FPpG"].shift(-1)
training_data["GP_next"] = training_data.groupby("NAME")["GP"].shift(-1)
training_data = training_data.dropna(subset=["FPpG_next"])
training_data = training_data.dropna(subset=["GP_next"])
training_data["FP_total"] = training_data["FPpG"] * training_data["GP"]
training_data["FP_total_next"] = training_data["FPpG_next"] * training_data["GP_next"]

In [30]:
all_data

                 NAME  SEASON    AGE  GP TEAM POS    MpG   PpG   RpG  ApG   SpG   BpG  TOpG   FPpG
0        AARON GORDON    2020  25.67  50  Den   F  27.65  12.4  5.65  3.2  0.66  0.68  1.92  26.08
1        AARON GORDON    2021  26.57  75  Den   F  31.70  15.0  5.80  2.5  0.59  0.59  1.77  27.48
2        AARON GORDON    2022  27.60  68  Den   F  30.30  16.3  6.60  3.0  0.80  0.80  1.40  32.12
3        AARON GORDON    2023  28.60  73  Den   F  31.50  13.9  6.40  3.5  0.80  0.60  1.40  29.63
4        AARON GORDON    2024  29.60  51  Den   F  28.40  14.7  4.80  3.2  0.50  0.30  1.40  26.26
...               ...     ...    ...  ..  ...  ..    ...   ...   ...  ...   ...   ...   ...    ...
2821  ZION WILLIAMSON    2022  22.80  29  Nor   F  33.00  26.0  7.00  4.6  1.10  0.60  3.40  42.10
2822  ZION WILLIAMSON    2023  23.80  70  Nor   F  31.50  22.9  5.80  5.0  1.10  0.70  2.80  39.96
2823  ZION WILLIAMSON    2024  24.80  30  Nor   F  28.60  24.6  7.20  5.3  1.20  0.90  3.00  44.49
2824   ZYLAN CHEATHAM    2021  26.40   1  Uta   F   5.20   0.0  0.00  0.0  0.00  0.00  0.00   0.00
2825      ZYON PULLIN    2024  24.10   3  Mem   G   0.90   0.0  0.00  0.0  0.00  0.00  0.00   0.00

[2826 rows x 14 columns]

In [31]:
training_data

                 NAME  SEASON    AGE  GP TEAM POS    MpG   PpG   RpG  ApG   SpG   BpG  TOpG   FPpG  FPpG_next  GP_next  FP_total  FP_total_next
0        AARON GORDON    2020  25.67  50  Den   F  27.65  12.4  5.65  3.2  0.66  0.68  1.92  26.08      27.48     75.0   1304.00        2061.00
1        AARON GORDON    2021  26.57  75  Den   F  31.70  15.0  5.80  2.5  0.59  0.59  1.77  27.48      32.12     68.0   2061.00        2184.16
2        AARON GORDON    2022  27.60  68  Den   F  30.30  16.3  6.60  3.0  0.80  0.80  1.40  32.12      29.63     73.0   2184.16        2162.99
3        AARON GORDON    2023  28.60  73  Den   F  31.50  13.9  6.40  3.5  0.80  0.60  1.40  29.63      26.26     51.0   2162.99        1339.26
6       AARON HOLIDAY    2020  24.63  66  Ind   G  17.80   7.2  1.30  1.9  0.70  0.20  1.00  13.31      13.67     63.0    878.46         861.21
...               ...     ...    ...  ..  ...  ..    ...   ...   ...  ...   ...   ...   ...    ...        ...      ...       ...            ...
2817  ZIAIRE WILLIAMS    2022  21.60  37  Mem   F  15.20   5.7  2.10  0.9  0.40  0.20  1.00  10.67      16.05     51.0    394.79         818.55
2818  ZIAIRE WILLIAMS    2023  22.60  51  Mem   F  20.30   8.2  3.50  1.5  0.70  0.20  1.30  16.05      20.57     63.0    818.55        1295.91
2820  ZION WILLIAMSON    2020  20.86  61  Nor   F  33.20  27.0  7.20  3.7  0.93  0.64  2.74  43.16      42.10     29.0   2632.76        1220.90
2821  ZION WILLIAMSON    2022  22.80  29  Nor   F  33.00  26.0  7.00  4.6  1.10  0.60  3.40  42.10      39.96     70.0   1220.90        2797.20
2822  ZION WILLIAMSON    2023  23.80  70  Nor   F  31.50  22.9  5.80  5.0  1.10  0.70  2.80  39.96      44.49     30.0   2797.20        1334.70

[1827 rows x 18 columns]

In [32]:
all_data.to_csv("cleaned_datasets/all_data.csv", index=False)
training_data.to_csv("cleaned_datasets/training_data.csv", index=False)